@font-face {
	font-family: "saudiriyal";
	unicode-range: U+E900;
	src: url("/assets/frappe/css/fonts/custom/saudi_riyal.woff2") format("woff2");
}

.print-format {
      font-family: Inter, "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif, "saudiriyal";
}
